In [7]:
import pandas as pd

def get_price_df(ticker):
    price = pd.read_parquet(f'../kaggle_data/prices_{ticker}.parquet')
    price = price[(price["post_date"]>=1569913201) & (price["post_date"]<1577865600)]

    price.sort_values(by='day_date', ascending=True, inplace=True)
    return price
# price_df = get_price_df("AAPL")

In [5]:
import pandas as pd
def toprice(ticker):
    price = pd.read_parquet(f'../kaggle_data/prices_{ticker}.parquet')
    price = price[(price["day_date"]>='1569913201') & (price["day_date"]<'1577865600')]

    price.sort_values(by='day_date', ascending=True, inplace=True)
    price.to_csv(f'../kaggle_data/prices_{ticker}.csv', index=False)

for company in ['AAPL', 'AMZN']:
    toprice(company)

ArrowInvalid: Could not open Parquet input source '<Buffer>': Parquet magic bytes not found in footer. Either the file is corrupted or this is not a parquet file.

In [9]:
price_df = get_price_df("AMZN")
price_df

        day_date  close_value   volume  open_value  high_value  low_value
2516  2010-06-01       123.24  3650661      124.97    126.5720   123.0200
2515  2010-06-02       126.31  4747192      124.02    126.4300   121.6500
2514  2010-06-03       128.76  5272208      126.25    129.1500   124.8500
2513  2010-06-04       122.77  5466912      126.33    128.2000   122.1800
2512  2010-06-07       122.01  6558899      125.84    126.6060   121.6744
...          ...          ...      ...         ...         ...        ...
4     2020-05-22      2436.88  2867079     2455.01   2469.8500  2430.1300
3     2020-05-26      2421.86  3568153     2458.00   2462.0000  2414.0600
2     2020-05-27      2410.39  5056945     2404.99   2413.5800  2330.0000
1     2020-05-28      2401.10  3193136     2384.33   2436.9699  2378.2300
0     2020-05-29      2442.37  3529329     2415.94   2442.3700  2398.1973

[3085 rows x 6 columns]

In [21]:
companies = ["AAPL"]
# intervals = ["30m","60m"]
intervals = ["60m"]
for company in companies:
    for interval in intervals:
        df = pd.read_csv(f"../finance/{interval}_{company}_191001_191231.csv", sep=';')
        print(df)
        df['<TIME>'] = df['<DATE>'].map(str) + df['<TIME>'].map(str)
        df.drop('<DATE>', axis=1, inplace=True)
        # df['<TIME>'] = df['<TIME>'].apply()
        df.to_csv(f"../finance/{interval}_{company}_191001_191231.csv", index=False)

       <DATE>  <TIME>    <OPEN>  <HIGH>     <LOW>   <CLOSE>    <VOL>
0    20191001  100000  225.1300  228.22  224.7000  228.0700  5817890
1    20191001  110000  228.0500  228.08  225.8389  226.1900  6433067
2    20191001  120000  226.1800  227.66  225.9600  226.2700  3025182
3    20191001  130000  226.2600  226.28  225.3100  225.3900  2946829
4    20191001  140000  225.3600  225.52  224.4200  224.8915  2928388
..        ...     ...       ...     ...       ...       ...      ...
443  20191231  120000  291.0651  292.26  290.9800  292.0400  2428187
444  20191231  130000  292.0500  292.47  291.7300  292.0600  1555553
445  20191231  140000  292.0400  292.30  291.8800  292.2057  1242000
446  20191231  150000  292.2100  292.47  291.9900  292.3600  1470821
447  20191231  160000  292.3500  293.68  292.2600  293.3700  5214313

[448 rows x 7 columns]

In [14]:
# company = pd.read_csv('../kaggle_data/Company.csv')
value = pd.read_csv('../kaggle_data/CompanyValues.csv')

In [14]:
company_tweet = pd.read_csv('../kaggle_data/Company_Tweet.csv')

In [10]:
tweet = pd.read_csv('../kaggle_data/Tweet.csv')

In [11]:
tweet["total_engagement"] = tweet["comment_num"] + tweet["retweet_num"] + tweet["like_num"]
print(tweet)

                    tweet_id           writer   post_date  \
0         550441509175443456  VisualStockRSRC  1420070457
1         550441672312512512      KeralaGuy77  1420070496
2         550441732014223360      DozenStocks  1420070510
3         550442977802207232     ShowDreamCar  1420070807
4         550443807834402816     i_Know_First  1420071005
...                      ...              ...         ...
3717959  1212159765914079234        TEEELAZER  1577836383
3717960  1212159838882533376    ShortingIsFun  1577836401
3717961  1212160015332728833      Commuternyc  1577836443
3717962  1212160410692046849      MoriaCrypto  1577836537
3717963  1212160477159206912         treabase  1577836553

                                                      body  comment_num  \
0        lx21 made $10,008  on $AAPL -Check it out! htt...            0
1        Insanity of today weirdo massive selling. $aap...            0
2        S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...            0
3        $GM $TSLA: Volkswagen Pushes 2014 Record Recal...            0
4        Swing Trading: Up To 8.91% Return In 14 Days h...            0
...                                                    ...          ...
3717959  That $SPY $SPX puuump in the last hour was the...            1
3717960  In 2020 I may start Tweeting out positive news...            0
3717961  Patiently Waiting for the no twitter sitter tw...            0
3717962  I don't discriminate. I own both $aapl and $ms...            1
3717963  $AAPL #patent 10,522,475 Vertical interconnect...            0

         retweet_num  like_num  total_engagement
0                  0         1                 1
1                  0         0                 0
2                  0         0                 0
3                  0         1                 1
4                  0         1                 1
...              ...       ...               ...
3717959            0         6                 7
3717960            0         1                 1
3717961            0         5                 5
3717962            0         1                 2
3717963            0         0                 0

[3717964 rows x 8 columns]

In [12]:
tweet[tweet['writer'].isnull()]
# for writer, group in tweet.groupby('writer').iloc[0]:
# tweet['writer_weight'] = tweet.groupby('writer')['total_engagement'].sum()
writer_weight = tweet.groupby('writer')[['total_engagement']].sum()
writer_weight.rename({'total_engagement':'writer_weight'}, axis=1, inplace=True)

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,total_engagement
357,550698244552925184,NaN,1420131667,2015 technology forecasts: Wearable technology...,0,0,2,2
1077,551029459957325824,NaN,1420210635,"Today in Twitter: an aggravated VC, word parsi...",2,1,5,8
1703,551102918204874754,NaN,1420228149,$AAPL LT view. This could be interesting. If ...,1,0,0,1
1860,551123120783122432,NaN,1420232966,"$AAPL So, I didn't buy any today. It was hard...",0,0,0,0
1934,551144074716397569,NaN,1420237961,maybe $TSLA is selling off because Elon is get...,0,0,0,0
...,...,...,...,...,...,...,...,...
3717306,1212069539527180298,NaN,1577814872,"Maybe Elon can get Dennis to head this one up,...",1,1,4,6
3717710,1212114691151056896,NaN,1577825637,#QAnon #MAGA $TWTR $FB $GOOGThe criminals for ...,0,0,0,0
3717795,1212120290609598464,NaN,1577826972,$TSLAStock's near all time high and fucko is c...,2,0,4,6
3717892,1212138184479510528,NaN,1577831238,“Alpha male” Mike Cernovich is a bootlicker? W...,3,3,7,13
3717951,1212157688089591808,NaN,1577835888,When you compare the losses of a public corpor...,0,0,2,2

In [15]:
tweet = tweet[(tweet["post_date"]>=1569913201) & (tweet["post_date"]<1577865600)]
tweets = pd.merge(company_tweet, tweet, on="tweet_id", how= "inner")
tweets["total_engagement"] = tweets["comment_num"] + tweets["retweet_num"] + tweets["like_num"]

In [61]:
# tweets['writer'] = tweets['writer'].astype(str)
# tweets_writer = pd.merge(writer_weight, tweets, on="writer", how= "outer")

In [16]:
# writer_weight.dtypes, tweets.dtypes
# tweets_writer
tweets

,tweet_id,ticker_symbol,writer,post_date,body,comment_num,retweet_num,like_num,total_engagement
0,1178944611059978240,AAPL,TheStreet,1569917273,"Apple Extends Gains, European Suppliers Rise A...",0,1,7,8
1,1178946849253810176,AAPL,stocknewstimes,1569917807,Apple $AAPL Upgraded at BidaskClub http://the...,0,0,0,0
2,1178947363701960704,AAPL,dakotafinancial,1569917929,Apple $AAPL Upgraded at BidaskClub http://dako...,0,0,0,0
3,1178947680447262723,AAPL,MacHashNews,1569918005,Apple supplier TSMC counter-sues GlobalFoundri...,0,0,0,0
4,1178948953682919424,AAPL,stock_family,1569918309,$SPY $MRK $AAPL Goooooooooooood morning fam!,0,0,2,2
...,...,...,...,...,...,...,...,...,...
206358,1212158772015034369,TSLA,StockJoke,1577836146,"I'm getting wasted on NYE, and thanks to @NHTS...",0,0,0,0
206359,1212159099632267268,TSLA,sweetog76,1577836224,$TSLA Very Interesting dude:,0,0,0,0
206360,1212159184931717120,TSLA,MelaynaLokosky,1577836245,If only 2020 brought more self-awareness to Te...,0,1,0,1
206361,1212159838882533376,TSLA,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1,1
206362,1212160015332728833,TSLA,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5,5

In [17]:
tweets.drop(labels="tweet_id", axis=1, inplace=True).sort_values(by='post_date', ascending=True, inplace=True)
for company, group in tweets.groupby('ticker_symbol'):
    group.drop(labels="ticker_symbol", axis=1).to_csv(f'../kaggle_data/tweets_{company}_191001_191231.csv',index=False)

#==========ENDDDDDD=============

AttributeError: 'NoneType' object has no attribute 'sort_values'

In [17]:
price = value
price = price[(price["day_date"]>='2019-10-01') & (price["day_date"]<'2019-12-30')]
value = price
for company, group in value.groupby('ticker_symbol'):
    # group.to_csv(f'prices_{company}.csv', sep=',',index=False)
    group.drop(labels="ticker_symbol", axis=1).to_csv(f'../kaggle_data/prices_{company}.csv', compression=None,index=False)

In [15]:
value

,ticker_symbol,day_date,close_value,volume,open_value,high_value,low_value
0,AAPL,2020-05-29,317.94,38399530,319.25,321.15,316.4700
1,AAPL,2020-05-28,318.25,33449100,316.77,323.44,315.6300
2,AAPL,2020-05-27,318.11,28236270,316.14,318.71,313.0900
3,AAPL,2020-05-26,316.73,31380450,323.50,324.24,316.5000
4,AAPL,2020-05-22,318.89,20450750,315.77,319.23,315.3500
...,...,...,...,...,...,...,...
17523,TSLA,2019-12-21,405.59,14785210,410.29,413.00,400.1850
17524,TSLA,2019-12-22,405.59,14785210,410.29,413.00,400.1850
17525,TSLA,2019-12-25,425.25,8054720,418.36,425.47,412.6875
17526,TSLA,2019-12-28,430.38,9956827,435.00,435.31,426.1100
17527,TSLA,2019-12-29,430.38,9956827,435.00,435.31,426.1100

In [6]:
tweets = pd.merge(company_tweet, tweet, on="tweet_id", how= "inner")
tweets.drop(labels="tweet_id", axis=1).sort_values(by='day_date', ascending=True, inplace=True)
tweets["Date"] = pd.to_datetime(tweets['post_date'],unit='s').dt.strftime('%Y-%m-%d')
tweets["total_engagement"] = tweets["comment_num"] + tweets["retweet_num"] + tweets["like_num"]
# tweets.drop(labels="post_date", axis=1, inplace=True)

,ticker_symbol,writer,post_date,body,comment_num,retweet_num,like_num
0,AAPL,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1
1,AMZN,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1
2,AAPL,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1
3,GOOGL,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1
4,AMZN,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1

In [33]:
tweets

,ticker_symbol,writer,body,comment_num,retweet_num,like_num,total_engagement,Date
0,AAPL,SentiQuant,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,1,2015-01-01
1,AMZN,SentiQuant,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,1,2015-01-01
2,AAPL,SentiQuant,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,1,2015-01-01
3,GOOGL,SentiQuant,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,1,2015-01-01
4,AMZN,SentiQuant,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1,1,2015-01-01
...,...,...,...,...,...,...,...,...
4336440,TSLA,StockJoke,"I'm getting wasted on NYE, and thanks to @NHTS...",0,0,0,0,2019-12-31
4336441,TSLA,sweetog76,$TSLA Very Interesting dude:,0,0,0,0,2019-12-31
4336442,TSLA,MelaynaLokosky,If only 2020 brought more self-awareness to Te...,0,1,0,1,2019-12-31
4336443,TSLA,ShortingIsFun,In 2020 I may start Tweeting out positive news...,0,0,1,1,2019-12-31
4336444,TSLA,Commuternyc,Patiently Waiting for the no twitter sitter tw...,0,0,5,5,2019-12-31

In [34]:
for company, group in tweets.groupby('ticker_symbol'):
    # group.to_csv(f'prices_{company}.csv', sep=',',index=False)
    group.drop(labels="ticker_symbol", axis=1).to_parquet(f'./kaggle_data/tweets_{company}.parquet', compression=None,index=False)

In [1]:
import pandas as pd
tweets = pd.read_csv(f'../kaggle_data/added_tweets_AAPL_191001_191231.csv')
twitter_data = tweets
twitter_data['post_date'] = pd.to_datetime(twitter_data['post_date'],  unit='s')

twitter_data

,writer,post_date,body,comment_num,retweet_num,like_num,total_engagement,clean_text,prob,tweet_class
0,TheStreet,2019-10-01 08:07:53,"Apple Extends Gains, European Suppliers Rise A...",0,1,7,8,"Apple Extends Gains, European Suppliers Rise A...",0.712731,POS
1,stocknewstimes,2019-10-01 08:16:47,Apple $AAPL Upgraded at BidaskClub http://the...,0,0,0,0,Apple $AAPL Upgraded at BidaskClub url/?p=233049,0.701913,NEU
2,dakotafinancial,2019-10-01 08:18:49,Apple $AAPL Upgraded at BidaskClub http://dako...,0,0,0,0,Apple $AAPL Upgraded at BidaskClub url/?p=1220068,0.712318,NEU
3,MacHashNews,2019-10-01 08:20:05,Apple supplier TSMC counter-sues GlobalFoundri...,0,0,0,0,Apple supplier TSMC counter-sues GlobalFoundri...,0.934210,NEU
4,stock_family,2019-10-01 08:25:09,$SPY $MRK $AAPL Goooooooooooood morning fam!,0,0,2,2,$SPY $MRK $AAPL Good morning fam!,0.796910,POS
...,...,...,...,...,...,...,...,...,...,...
44070,QuantWolfLine,2019-12-31 23:51:01,Imagine calling your broker-dealer and wanting...,1,0,1,2,Imagine calling your broker-dealer and wanting...,0.563570,NEG
44071,GMGRIFF_79,2019-12-31 23:51:06,"$AAPL yearly~ Heck of a year.. Jan. 2, 1999~ar...",0,0,1,1,"$AAPL yearly Heck of a year.. Jan. 2, 199aroun...",0.680155,POS
44072,TEEELAZER,2019-12-31 23:53:03,That $SPY $SPX puuump in the last hour was the...,1,0,6,7,That $SPY $SPX puump in the last hour was the ...,0.544737,NEU
44073,MoriaCrypto,2019-12-31 23:55:37,I don't discriminate. I own both $aapl and $ms...,1,0,1,2,I don't discriminate. I own both $aapl and $msft.,0.558034,POS
44074,treabase,2019-12-31 23:55:53,"$AAPL #patent 10,522,475 Vertical interconnect...",0,0,0,0,"$AAPL patent 10,522,475 Vertical interconnects...",0.937221,NEU

In [7]:
import boto3

df = tweets[:100]
for i in df.columns:
    df[i] = df[i].astype(str)

myl=df.T.to_dict().values()

/var/folders/tf/kt2z64bn72lfmzbccyrlf4xr0000gn/T/ipykernel_3643/2053233673.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = df[i].astype(str)

In [3]:
# Connect to DynamoDB using boto
resource0 = boto3.resource('dynamodb')
# Connect to the DynamoDB table
table = resource0.Table('AAPL_tweets')

In [8]:
# Load the JSON object created in the step 3 using put_item method
for record in myl:
    table.put_item(Item=record)

In [4]:
print(table.creation_date_time)

2021-10-29 22:40:45.851000-07:00